/* Normalizações */

body,
h1,
p {
  margin: 0px;
  padding: 0px;
}

img {
  max-width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* Desktop */

.formulario button {
  display: block;
  margin-top: 20px;
}

.formulario {
  max-width: 600px;
  padding: 1.25rem;
  margin-left: auto;
  margin-right: auto;
  background: #c3c3c3;
}

.formulario input {
  display: block;
  margin-top: 0.937rem;
  margin-bottom: 0.937rem;
  padding: 5px;
}
h1 {
  color: rgb(49, 6, 245);
  font-size: 4rem;
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  grid-column: 1/-1;
  text-shadow: 2px 2px 0.5px black;
  letter-spacing: 0.313rem;
  font-weight: 300;
}

#principal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  max-width: 1200px;
  margin: 50px auto;
}

#principal hr {
  display: none;
}

#principal article {
  display: grid;
  gap: 1rem;
  align-content: start;
  justify-content: center;
  background: lightcoral;
  padding: 10px;
  border-radius: 10px;
}

/* Media Queries */

/* Mobile */

@media (max-width: 600px) {
  #principal {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  #principal hr {
    display: inherit;
    background: gold;
    height: 0.9375rem;
    width: 100%;
    border: none;
  }
  h1 {
    color: gold;
    font-size: 3.5rem;

    text-shadow: 2px 2px 0.5px black;
    letter-spacing: 0.213rem;
  }
}

/* Tablet */

@media (min-width: 600px) and (max-width: 1200px) {
  h1 {
    color: rgb(195, 167, 4);
    letter-spacing: 00.213rem;
  }

  #principal {
    margin: 1.25rem 1.25rem;
  }

  article p {
    text-align: justify;
  }
}
